<div class="container">
  <!-- Primera parte: Experiencia previa -->
  <div class="row mt-5 bg-dark text-white p-4">
    <div class="col text-center">
      <h2 class="font-weight-bold">Mi viaje desde una consciencia <i>plana</i>...</h2>
      <p class="mb-4">Desde mi juventud, mi vida estuvo llena de estrés y ansiedad. Me encontraba constantemente atrapada en un torbellino de pensamientos negativos y preocupaciones. La presión del trabajo, las expectativas sociales y los desafíos personales me consumían día tras día. Sentía que estaba perdiendo el control de mi vida y que me estaba alejando cada vez más de la paz interior.</p>
      <p>En busca de alivio, me sumergí en las enseñanzas de las filosofías orientales. Exploré el budismo zen, el taoísmo y el yoga en un intento desesperado por encontrar la calma y el equilibrio. Sin embargo, seguía luchando por liberarme de las cadenas del estrés y la preocupación.</p>
    </div>
  </div>

  <!-- Segunda parte: Transformación -->
  <div class="row mt-5">
    <div class="col text-center">
      <h2 class="font-weight-bold">... hacia una consciencia <i>plena</i> gracias al mindfulness</h2>
      <p class="mb-4">Todo cambió cuando descubrí el mindfulness. A través de la práctica diaria de la atención plena, aprendí a cultivar la calma y la serenidad en medio del caos. Aprendí a observar mis pensamientos y emociones sin juzgar, permitiéndome liberarme del estrés y la ansiedad que me habían atormentado durante tanto tiempo.</p>
      <p>El mindfulness se convirtió en mi guía, enseñándome a vivir en el momento presente y a apreciar la belleza de la vida tal como es. Me ayudó a reconectar conmigo misma y a encontrar paz en el aquí y ahora. Hoy en día, el mindfulness es una parte integral de mi vida, guiándome en mi viaje hacia la autocomprensión y la plenitud.</p>
    </div>
  </div>

  <!-- Foto -->
  <div class="row mt-5">
    <div class="col text-center">
      <img src="assets/ana.jpg" alt="Ana" class="img-thumbnail" style="width: 200px; margin-bottom: 20px;">
    </div>
  </div>
</div>

